<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505981431840-sl6vk3h1a0135h1cd54fplvgav6kl28f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505981431840-sl6vk3h1a0135h1cd54fplvgav6kl28f</string>
	<key>API_KEY</key>
	<string>AIzaSyDLQgVM7KThPbNzAIRMJQbRm-NXsn6YTk0</string>
	<key>GCM_SENDER_ID</key>
	<string>505981431840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStudyApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-2639c</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-2639c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505981431840:ios:89f94dd01d6151c90e8c45</string>
</dict>
</plist>